
nav a{
  border:dotted 2px yellowgreen
}
nav a:hover{
border: dotted 2px blueviolet 
}
body>header{
  margin-top:60px; 
}
section article p{
  padding:2e 1em;
    margin-bottom:2em;
  background-color: #e9ecef;
  border-radius: 1em;
}
h1 {
  text-shadow: 5px 5px lightblue;
  text-align: center;
  width: 60%;
 
}